.container{
  background-color: white;
  height: 100vh;
  margin: 0;
}

.title{
  text-align: center;
  font-size: 50px;
}

.page-select-buttons{
width: 100vw;
}

.next{
  margin-right: 50px;
  width: 5vw;
  height: 3vw;
  float: right;
}

.previous{
  margin-left: 50px;
  width: 5vw;
  height: 3vw;
  float: left;
}

.body-container {
  margin-top: 2rem;
}