.title{
  text-align: center;
  font-size: 50px;
}

.page-title {
  font-size: 4rem;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: red;
  width: 83.1vw;
  text-align: center;
}

.paragraph-title {
  padding-top: 6vh;
  font-size: 3rem;
  max-width: 50%;
}

.paragraph {
 font-size: 1.5rem;
 max-width: 50%;
}

.papers-list{
  text-align: left;
  width: 50%;
}

.paper-title{
  font-size: 2rem;
}

.column-wrapper{
  display: flex;
  column-count: 2;
  column-width: 250px;
  column-gap: 50px;
  max-width: 75%;
  margin: 0 auto;
 
}

.paper-container-right{
  max-width: 570px;
}

.skills-container{
  max-width: 50%;
  margin: 0 auto;
}